@page
@model WebApplication1.Pages.melhoresModel
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - site_chocolate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/site_chocolate.styles.css" asp-append-version="true" />
</head>

<body>
    <h1 style="margin-top: 25px; margin-bottom: 25px; text-align: center; font-family: garamond;"><b>Os cinco melhores chocolates do mundo!</b></h1>
        
<div id="melhores">
    <div>
        <br />
        <h3 style="margin-bottom: 25px;">1º Valrhona</h3>
        <img src="~/img/Valrhona.jpg"/>
            <p>Em primeiro lugar, o chocolate é praticamente um estilo de vida na França, originado em 1615 como um presente ao rei Luís XII de 14 anos, nunca mais saiu das casas dos franceses. E lá o que mais se destaca é o chocolate Valrhona – um dos melhores do mundo.
            Ele foi fundado em 1922 e produzido na pequena vila de Tain L’Hermitage pelo Chef Albéric Guironnet, que tinha uma ideia de “vinho parecido com chocolate”.
            Com grãos de cacau sendo comprados diretamente de plantações de primeira linha na América do Sul, Caribe e regiões do Pacífico, Valrhona é um dos melhores que a França tem a oferecer.</p>
    </div>

    <div>
        <h3 style="margin-top: 25px; margin-bottom: 25px;">2º Teuscher</h3>
        <img src="~/img/Teuscher.jpg"/>
            <p>Feito em Zurique (Suíça), os chocolates Teuscher são um dos principais fabricantes de chocolate do mundo. Localizado em todos os cantos do mundo, de Nova York a Tóquio e Abu Dhabi, Teuscher é um dos chocolates mais famosos do mercado.
            Com uma ampla gama de produtos como trufas, bombons e barras de chocolate suíço, a Teuscher abraça a história com chocolates que derretem na boca.
            Seu produto mais famoso é a trufa de champanhe, uma mistura de creme de manteiga enriquecida por uma das melhores marcas de champanhe da França; a camada externa é puro chocolate amargo que todo conhecedor de chocolate deve experimentar.</p>
    </div>

    <div>
        <h3 style="margin-top: 25px; margin-bottom: 25px;">3º Godiva</h3>
        <img src="~/img/Godiva.jpg"/>
            <p>Outra marca que oferece um dos melhores chocolates do mundo é a Godiva. Criada em 1926 como uma empresa familiar, Pierre Draps Sr. começou a fazer bombons em sua oficina de confeitaria em Bruxelas (Bélgica).
            Posteriormente, seus filhos, Joseph, François e Pierre Jr., assumiram os negócios da família após a morte de seu amado pai. Quase 100 anos depois, Godiva tem mais de 600 boutiques próprias e possui lojas em mais de 100 países em todo o mundo.
            Ademais, tem estado na vanguarda das marcas de chocolate premium nos últimos 90 anos. Foi uma ideia simples iniciada por uma família que lutou pelo melhor chocolate e acabou evoluindo para um dos melhores que o mundo tem a oferecer.</p>
    </div>

    <div>
        <h3 style="margin-top: 25px; margin-bottom: 25px;">4º Sprüngli</h3>
        <img src="~/img/Sprüngli.jpg"/>
            <p>Como você pode perceber, Suíça e chocolate são sinônimos. Lá, David Sprüngli abriu a Confiserie Sprüngli & Fils em Zurique em 1836. Com sede localizada em Zurique e vitrines espalhadas por toda a Suíça e Emirados Árabes Unidos, é uma das melhores marcas de chocolate do mundo.
            De uma variedade de produtos sazonais, presentes corporativos e clássicos da Sprüngli, é uma experiência obrigatória. Desse modo, conhecido por sua caixa “Top Ten”, Sprungli oferece a oportunidade de mergulhar em uma caixa cheia de seus dez bombons e trufas que são os mais gostosos da marca.</p>
    </div>

    <div>
        <h3 style="margin-top: 25px; margin-bottom: 25px;">5º Chocolate Jacques Torres</h3>
        <img src="~/img/Jacques.jpg"/>
            <p>Jacques Torres Chocolate é uma fantástica chocolatier em Nova York que existe desde 2000. Eles oferecem chocolates em pequenos lotes com sabores requintados e ingredientes de qualidade para trazer a você a melhor experiência de chocolate possível, tudo dentro do seu orçamento.
            O Chef Jacques Torres, também conhecido como Mr. Chocolate, aprendeu seu ofício em Bandol, no sul da França, de onde é originário. Jacques foi premiado com o MOF (Meilleur Ouvrier de France) de Pastelaria aos 26 anos. Em 2016, ele foi feito Chevalier de la Legion d’Honneur.
            Aliás, a marca é pioneira do movimento bean to bar, bem como é especializada em bombons, bombons com cobertura de chocolate e chocolate quente.</p>
    </div>
    <br/>
    <br/>
<h6 style="text-align: left; margin-left: 20px; margin-bottom: 20px;">Fonte: <a href="https://segredosdomundo.r7.com/melhor-chocolate-do-mundo-melhores-chocolates-do-mundo/">Segredos do Mundo</a></h6>
<br />
</div>
    
</body>