@page
@model WebApplication1.Pages.receitasModel
@{
}
<body>
<br>
    <br>
    <br>
    <div style="background-color: #d0c8c8; height:fit-content; border-radius: 10px 20px;">
        <div style="margin-left:20px; margin-right: 20px;">
            <h1 style="text-align:center;">Brownie de chocolate</h1>
            <img src="~/img/brownie.jpg" style="float:left; margin-right: 20px;"/>
            <div>
                <h5>Ingredientes da calda de frutas vermelhas</h5>
                <br />
                150 g de morango
                <br />
                150 g de framboesa
                <br />
                50 g de açúcar
                <br />
                3 g de pectina
                <br />
                Chocolate derretido

                <h5>Modo de preparo da calda</h5>
                <br />
                Ferva os morangos, a framboesa e a açúcar. Após abrir fervura, adicione pectina com um pouco de açúcar e cozinhe por 3 minutos. Ponha em forminhas quadradas pequenas e congele por uma noite. Banhe com chocolate.
                <br />
                <h5>Ingredientes do brownie</h5>
                450 g de manteiga
                <br />
                450 g de açúcar
                <br />
                450 g de ovos
                <br />
                150 g de farinha peneirada
                <br />
                450 g de chocolate meio amargo
                <br />
                450 g de nozes
                <br />
                1 g de sal
                <br />
                <h5>Modo de preparo do brownie</h5>
                Pré-aqueça o forno convencional a 200º C. Prepare as formas com papel manteiga. Bata ligeiramente o açúcar, os ovos e o sal. Incorpore o chocolate derretido com a manteiga, em seguida a farinha e logo depois as nozes. Coloque na forma e asse por aproximadamente 30 minutos. 
                <br />
                <h5>Gelato do dia</h5>
                Coloque o sorvete desejado em uma forma quadrada (do mesmo tamanho da calda) e congele por uma noite. Banhe no chocolate.
                <br />
                <h5>Montagem</h5> 
                <br />
                Conforme a foto, disponha em um prato o brownie cortado no formato quadrado. Desenforme o sorvete e coloque em cima. Por último, adicione a calda banhada no chocolate. Pronto!      
            </div>
        </div>
        <br />
        <br />
        <div style="margin-left:20px; margin-right: 20px;">
            <h1 style="text-align:center;">Milk-shake com biscoito Oreo</h1>
            <br />
            <img id="shake" src="~/img/shake.jpg" style="float:right; margin-left: 20px;"/>
            <div>
                <br />
                <br />
                <h5>Ingredientes</h5>
                <br />
                <br />
                3,5 bolas de sorvete de creme
                <br />
                50 ml de leite
                <br />
                3 biscoitos oreos  triturados (sem recheio)
                <br />
                1 biscoito oreo inteiro
                <br />
                2 colheres de sopa  de calda de chocolate
                <br />
                Modo de preparo:
                <br />
                1. Em uma tigela, bater metade dos biscoitos triturados com leite e sorvete no fue.
                <br />
                2. Adicionar a outra metade dos biscoitos triturados e misturar com uma colher.
                <br />
                3. Em um copo, colocar a calda de chocolate em volta, dando efeito cascata.
                <br />
                4.Coloque a mistura no copo decorado.
                <br />
                5. Para finalizar, mergulhe um biscoito inteiro e sirva imediatamente.
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h6 style="text-align: left; margin-left: 20px; margin-bottom: 20px;">Fonte: <a href="https://casavogue.globo.com/LazerCultura/Comida-bebida/Receita/noticia/2017/03/receitas-com-chocolate-28-sobremesas-faceis-e-irresistiveis.html">Casa Vogue</a></h6>
    <br />
    </div>
</body>

