@page
@model WebApplication1.Pages.saudeModel
@{
}

<h1 style="margin-top: 25px; margin-bottom: 25px; text-align: center; font-family: garamond;"><b>Quais o benefícios do chocolate?</b></h1>

<div style="background-color: #d0c8c8; height:fit-content; border-radius: 10px 20px; width:fit-content;">
	<div style="margin-left: 20px; margin-right: 20px;">
		<br />
		<br />
	<h5 style="text-align: center;">8 benefícios do chocolate para a saúde</h5>
		<br />
		<br />
		Um dos principais benefícios do chocolate é fornecer energia ao organismo porque ele é rico em calorias, mas existem diferentes tipos de chocolate que têm composições muito diferentes e, 
		por isso, os benefícios para a saúde podem ir variando de acordo com o tipo de chocolate. Os tipos de chocolate que existem são o branco, de leite, ruby ou rosa, meio amargo e amargo.
		Trinta gramas de chocolate têm em média 120 calorias. Para que estas calorias não se tornem gorduras acumuladas, o ideal é comer o chocolate no café da manhã ou no máximo como sobremesa após o almoço, 
		pois assim, estas calorias serão gastas durante o dia. Se comer o chocolate a noite, quando o corpo fica em repouso, estas calorias à mais provavelmente serão depositadas como gordura.
		<br />
		<br />
		Os benefícios do chocolate estão presentes especialmente no chocolate amargo e meio amargo, devido à sua maior concentração de cacau:
		<br />
		<br />
		1º Melhora a saúde do coração porque promove um fluxo adequado de sangue devido aos potentes antioxidantes do grupo dos flavonoides que possui, que são as catequinas, epicatequinas e procianidinas;
		<br />
		2º Estimula o sistema nervoso central e os músculos cardíacos, pois possui teobromina, que é uma substância com ação semelhante à cafeína;
		<br />
		3º Aumenta a sensação de bem estar, pois ajuda a libertar o hormônio serotonina;
		<br />
		4º Diminui a pressão arterial e melhorar a circulação sanguínea pois produz óxido nítrico, que é um gás que permite relaxar as artérias;
		<br />
		5º Aumenta o colesterol bom HDL e diminuir o colesterol ruim, além de evitar a formação de placas de aterosclerose devido ao seu efeito antioxidante e cardioprotetor;
		<br />
		6º Melhora a função cerebral por aumentar o fluxo de sangue para o cérebro devido às substâncias estimulantes como a cafeína e a teobromina, que também previnem o Alzheimer;
		<br />
		7º Protege a pele do sol graças aos seus compostos bioativos como os flavonóides, que protegem a pele contra os danos da radiação UV;
		<br />
		8º Diminui a fome, sendo uma ótima opção para quem está querendo emagrecer, desde que consumido com moderação.
		<br />
		<br />
		Para ter todos os benefícios do chocolate amargo basta comer um quadradinho de chocolate amargo ou meio amargo por dia, o que equivale a cerca de 6 g.
		<br />
		<br />
		<br />
		</div>
	<h4 style="text-align: center;">Assista ao vídeo abaixo para mais informações.</h4>
<video controls style="margin-left: 20px; margin-right: 20px;">
  <source src="~/img/benefícios.mp4" />
</video>
<br />
<h6 style="text-align: left; margin-left: 20px; margin-bottom: 20px;">Fonte: <a href="https://www.tuasaude.com/beneficios-do-chocolate/">Tua saúde</a></h6>
<br />
</div>